/* Header */

.site-header {
   padding: 1rem 0;
   border-bottom: solid 2px var(--color-gray);
}

.site-header .site-nav {
   margin-left: auto;
}

.site-header .site-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.site-header .site-nav ul li {
   float: left;
}

.site-header .site-nav ul li a {
   display: block;
   padding: 2rem 1.5rem;
   font-weight: 700;
   font-size: 2rem;
   text-decoration: none;
}

@media screen and (max-width: 767px) {
   .site-header .site-nav {
      position: fixed;
      top: 70px;
      left: 0px;
      height: 0;
      background-color: var(--color-white);
      z-index: 1000;
      width: 100%;
      overflow: hidden;
      transition: all 0.2s linear;
   }

   .site-header .site-nav ul {
      padding: 4rem;
   }

   body.menu-open .site-header .site-nav {
      height: calc(100vh - 70px);
   }

   .site-header .site-nav ul li {
      float: none;
      clear: both;
   }

   .site-header .site-nav ul li a {
      font-size: 3rem;
      text-align: right;
   }

   a.mobile-menu {
      position: absolute;
      display: block;
      cursor: pointer;
      top: 20px;
      right: 20px;
      width: 22px;
      height: 20px;
      z-index: 1000;
   }
   a.mobile-menu span {
      display: block;
      position: absolute;
      background: var(--color-primary);
      border-radius: 5px;
      width: 100%;
      height: 3px;
      left: 0;
      opacity: 1;
      transform: rotate(0deg);
      transform-origin: left center;
      transition: 0.25s ease-in-out;
   }

   a.mobile-menu span:nth-child(1) {
      top: 0px;
   }

   a.mobile-menu span:nth-child(2) {
      top: 8px;
   }

   a.mobile-menu span:nth-child(3) {
      top: 16px;
   }

   body.menu-open a.mobile-menu span {
      background-color: var(--color-primary);
   }

   body.menu-open a.mobile-menu span:nth-child(1) {
      transform: rotate(45deg);
      top: -1px;
      width: 27px;
      left: 1px;
   }

   body.menu-open a.mobile-menu span:nth-child(2) {
      width: 0%;
      opacity: 0;
   }

   body.menu-open a.mobile-menu span:nth-child(3) {
      transform: rotate(-45deg);
      top: 18px;
      width: 27px;
      left: 1px;
   }
}

/* Hero */
.hero-overflow {
   overflow: hidden;
}
.hero {
   padding: 12rem 0;
   display: flex;
   align-items: stretch;
   justify-items: stretch;
   flex-wrap: wrap;
   height: 100%;
   flex-direction: row;
   width: 100%;
   position: relative;
}

.hero .hero-content {
   max-width: 590px;
   width: 90vw;
}

.hero .hero-content h1.title {
   margin-top: 3rem;
   margin-bottom: 4rem;
   font-size: 8rem;
   line-height: 8rem;
   font-weight: 700;
}

.hero .hero-content p {
   line-height: 3rem;
   font-weight: 500;
}

.hero .hero-cta {
   display: flex;
   margin-top: 4rem;
}

.hero .hero-cta .button {
   margin-right: 2rem;
}

.hero .hero-image {
   position: relative;
}

.hero .hero-image img {
   position: absolute;
   left: 8rem;
   top: 0px;
   display: inline-block;
   width: auto;
   height: 100%;
}

@media screen and (max-width: 968px) {
   .hero {
      flex-direction: column-reverse;
   }

   .hero .hero-content {
      max-width: 100%;
   }

   .hero .hero-content h1.title {
      text-align: center;
   }

   .hero .hero-content p {
      text-align: center;
   }

   .hero .hero-cta {
      display: flex;
      margin-top: 4rem;
      justify-content: center;
   }

   .hero .hero-image {
      position: relative;
      height: 200px;
      text-align: center;
   }

   .hero .hero-image img {
      position: relative;
      left: auto;
      top: auto;
      display: inline-block;
      width: auto;
      height: 100%;
   }
}

@media screen and (max-width: 500px) {
   .hero .hero-image {
      position: relative;
      height: 120px;
      text-align: center;
   }

   .hero .hero-content h1.title {
      font-size: 5rem;
      line-height: 5rem;
   }

   .hero .hero-cta {
      flex-direction: column;
      align-items: center;
   }

   .hero .hero-cta a {
      max-width: 25rem;
   }
}

/* Events */
.events {
   padding: 12rem 0;
   background-color: var(--color-gray);
}

.events h2.title {
   font-size: 5rem;
   margin-top: 0;
}

.events .events-lists {
   display: flex;
   flex-wrap: wrap;
   width: 70%;
   margin: 0 -1rem;
}

.events .events-lists .col {
   flex: 0 0 auto;
   width: 50%;
   padding: 0 1rem;
   margin-bottom: 2rem;
}

.events .detail {
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
   height: 100%;
   border-radius: 0.5rem;
   overflow: hidden;
}

.events .detail .image {
   position: relative;
   max-height: 18rem;
   overflow: hidden;
}

.events .detail .image .person {
   background: rgba(0, 0, 0, 0.4);
   position: absolute;
   padding: 1rem 2rem;
   color: var(--color-white);
   width: 100%;
   left: 0;
   bottom: 0;
}

.events .detail .info {
   flex: auto;
   padding: 2rem;
   background-color: var(--color-white);
}

.events .detail h3 {
   margin-top: 0;
   margin-bottom: 1rem;
}

.events .events-content {
   display: flex;
}

.events .events-filter {
   flex-grow: 1;
   margin-left: 4rem;
   overflow: visible;
}

.events .events-filter .filters {
   position: sticky;
   top: 30px;
}

.events .events-filter #slider-range {
   width: 100%;
}

@media screen and (max-width: 1200px) {
   .events-content {
      flex-direction: column-reverse;
   }

   .events .events-lists {
      width: 100%;
   }

   .events .events-filter {
      margin-left: 0;
   }
}

@media screen and (max-width: 767px) {
   .events .events-lists .col {
      width: 100%;
   }

   .events .events-filter .filters {
      position: relative;
      top: 0px;
   }
}

@media screen and (max-width: 500px) {
   .events .events-lists {
      margin: 0;
   }
}

/* Footer */

.site-footer {
   padding: 6rem 0;
   color: #6e8997;
   font-weight: 500;
}
